uwsgi
coreapi
django
django-autocomplete-light
django-cors-headers==2.4.0
django-filter
djangorestframework
djangorestframework-simplejwt
paramiko
psycopg2-binary
python-cinderclient
python-novaclient
python-glanceclient
scp
django-admin-auto
django-simpleui
ambari