{% extends "admin/base.html" %}
{% load static i18n %}
{% block title %}{{ title }} | {{ site_title }}{% endblock %}
{% block extrastyle %}
{{ block.super }}
<style>
    .select2-container--default+.select2-container--jet {
        display: None;
    }

    #changelist-form #result_list input.vTextField {
        max-width: 10em;
    }

    #changelist-form #result_list .select2-container--jet {
        min-width: 6em;
    }

    #changelist-form #result_list a.button {
        min-width: 5em;
    }

    #content-main .field-blueprint .select2 {
        min-width: 18.7em;
    }

    #branding {
        background-color: rgba(255, 255, 255, 0.95);
    }

    #branding img {
        max-height: 50px;
    }
</style>
<style>
    div.breadcrumbs a,
    #header a:link,
    #header a:visited {
        color: #6f7e95;
    }

    #user-tools,
    #user-tools a:link,
    #user-tools a:visited {
        color: #c1c8f4;
    }

    div.breadcrumbs,
    #header {
        background-color: #ecf2f6;
    }

    #branding img {
        max-height: 35px;
    }
</style>
<style>
    .clear {
        clear: both
    }

    .RadioStyle input {
        display: none
    }

    .RadioStyle label {
        border: 1px solid #00a4ff;
        padding: 2px 10px 2px 5px;
        line-height: 28px;
        min-width: 80px;
        text-align: center;
        float: left;
        margin: 2px;
        border-radius: 4px
    }

    .RadioStyle input:checked+label {
        background: url(images/ico_checkon.svg) no-repeat right bottom;
        background-size: 21px 21px;
        color: #00a4ff
    }

    .stateBtnStyle {
        color: #fff;
        background-color: #9eb85c;
        border-color: #4cae4c;
        line-height: 1.42857143;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .sidebar {
        background-color: #ffffff;
    }

    .sidebar-link,
    .sidebar-link:visited {
        color: #000000;
    }

    .sidebar-link:hover {
        color: #ffffff;
        background: #4fa252;
    }

    .sidebar-section {
        border-bottom: 0.07143rem solid #ececec;
    }

    .sidebar-title-link,
    .sidebar-title-link:visited,
    .sidebar-title-link:hover {
        color: #0b6913;
    }

    .sidebar-link-icon {
        color: #4fa252;
    }

    .sidebar-link,
    .sidebar-link:visited,
    .sidebar-link:hover {
        color: #020202;
    }

    .sidebar-right-arrow {
        color: #4fa252;
    }

    div.breadcrumbs,
    #header {
        background-color: #356b2e;
    }

    body {
        background: #f7f7f7;
        color: #0b6912;
    }

    .dashboard-item {
        background: #ebf1eb;
    }

    .dashboard-item-content ul:not(.inline) li.contrast {
        background: #94c382;
    }

    a,
    a:visited,
    a:hover,
    a:focus {
        color: #656565;
    }

    .button,
    .button:visited,
    .button:hover,
    input[type="submit"],
    input[type="submit"]:visited,
    input[type="button"],
    input[type="button"]:visited,
    .object-tools a,
    .object-tools a:visited {
        background-color: #ddefdd;
        color: #93b785;
    }

    .aHrefHover:hover {
        background-color: #47bac1;
        color: #fff;
    }

    .user-tools ul.opened {
        border: 0.07143rem solid #93b785;
        background-color: #74a273;
    }

    .user-tools ul.opened .user-tools-welcome-msg {
        border-bottom: 0.07143rem solid #93b785;
    }

    #user-tools,
    #user-tools a:link,
    #user-tools a:visited {
        color: #ddefdd;
    }

    .user-tools ul li.user-tools-welcome-msg:before {
        color: #93b785;
    }

    #toolbar form input[type="submit"],
    #toolbar form input[type="submit"]:visited {
        background-color: #ddefdd;
        color: #93b785;
    }

    #changelist .actions .button,
    #changelist .actions .button:visited {
        background-color: #ddefdd;
        color: #93b785;
    }

    #changelist .actions .button:hover,
    #toolbar form input[type="submit"]:hover,
    .object-tools a:hover,
    input[type="submit"]:hover,
    input[type="button"]:hover {
        background-color: #47bac1;
        color: #fff;
    }

    table thead th {
        background: #94c382;
    }

    .sidebar-container-toggle {
        background-color: #356b2e;
        color: #c0d4e8;
        min-height: 32px;
    }

    input[type="submit"].default {
        background-color: #ddefdd;
        color: #93b785;
    }

    input[type="submit"]:hover {
        background-color: #47bac1;
        color: #fff;
    }
</style>
{% endblock %}
{% block extrahead %}
<link rel="apple-touch-icon" sizes="180x180" href="{% static '/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon-16x16.png' %}">
<link rel="stylesheet" href="{% static '/css/all.min.css' %}">
{% endblock %}
{% block messages %}
<ul class="messagelist">
    <li id='ajax-success' class="success" style="display:none"></li>
    <li id='ajax-error' class="error" style="display:none"></li>
</ul>
{{ block.super }}
{% endblock %}
{% block branding %}
{{ block.super }}
<h1 id="site-name">
    <a href="/">
        <img src="{% static '/logo-large.png' %}">
    </a>
    <div style="display:none;" id="current-space">{{ request.space }}</div>
    <div style="display:none;" id="current-space-id">{{ request.space.pk }}</div>
    <div style="display:none;" id="current-space-portal">{{ request.space.portal }}</div>
</h1>
{% endblock %}

{% block nav-global %}
<a href="https://github.com/cas-bigdatalab/packone" class="sidebar-link icon" style="display:none;">
    <span class="sidebar-link-label">
        <span class="sidebar-link-icon">
            <i class="fab fa-github"></i>
        </span>
        {% trans 'Repo' %}
    </span>
</a>
<a href="javascript:void(0);" class="sidebar-link icon">
    <span class="sidebar-link-label">
        {{ request.space }}
    </span>
</a>
{% endblock %}

{% block footer %}
{{ block.super }}
<script type="text/javascript">
    // jQuery(function($) {
    //     $('#changelist-form #result_list').find('input').each(function() {
    //         $(this).replaceWith("<span>" + this.value + "</span>");
    //     });
    // });
    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    jQuery(function ($) {
        function operate(e) {
            e.preventDefault();
            $(this).html($(this).text() + 'ing')
            href = $(this).attr('href')
            $(this).removeAttr('href').unbind('click');
            postData = {
                operation: $(this).data("op"),
                target: $(this).data("id")
            }
            $.ajax({
                type: "POST",
                headers: {
                    "X-CSRFToken": csrftoken
                },
                url: href,
                data: postData,
                timeout: 150000
            })
                .done(function (data) {
                    window.location.replace(href.split('api')[1].slice(0, -2) + "/" + data.id + '/change');
                })
                .fail(function (xhr, ajaxOptions, thrownError) {
                    //what to do in error
                    $('#ajax-error')
                        .html(thrownError)
                        .fadeIn(800).fadeOut(5000);
                });
        }
        $('form[method=post] a.button[data-op]').click(operate);

        function umount(e) {
            e.preventDefault();
            href = $(this).attr('href')
            $.ajax({
                type: "DELETE",
                headers: {
                    "X-CSRFToken": csrftoken
                },
                url: href,
                timeout: 15000
            })
                .done(function (data) {
                    location.reload();
                })
                .fail(function (xhr, ajaxOptions, thrownError) {
                    $('#ajax-error')
                        .html(thrownError)
                        .fadeIn(800).fadeOut(5000);
                })
        }
        $('form[method=post] a.button[umount]').click(umount);
    });
</script>
<script type="text/javascript">
    var window_location_href = window.location.href;
    var window_location_pathname = window.location.pathname;
    var window_location_search = window.location.search;
    var space_id = document.getElementById("current-space-id").innerHTML;
    var current_space_portal = document.getElementById("current-space-portal").innerHTML;
    var space_home_url = '';
    if (space_id) {
        space_home_url = '/space/' + space_id;
    }
    var site_name_a = document.getElementById("site-name").firstElementChild;
    if (site_name_a) {
        site_name_a.setAttribute("href", space_home_url + "/");
    }
    if ('/login/' === window_location_pathname && '?next=/engines/cluster' !== window.location.search) {
        window.location.href = window.location.origin + window_location_pathname + '?next=/engines/cluster';
    }
    function hasClassCustom(elements, cName) {
        return !!elements.className.match(new RegExp("(\\s|^)" + cName + "(\\s|$)"));
    }

    function hideElementArray(array) {
        if (array && array.length > 0) {
            for (var i = 0; i < array.length; i++) {
                array[i].style.display = "none";
            }
        }
    }

    function openStyle(elementId) {
        if (elementId) {
            var updateDivElement = document.getElementById(elementId);
            if (hasClassCustom(updateDivElement, "collapsed")) {
                updateDivElement.className = updateDivElement.className.replace(new RegExp("(\\s|^)" + "collapsed" + "(\\s|$)"), " ");
            }
        }
    }

    function closedStyle(elementId) {
        if (elementId) {
            var updateDivElement = document.getElementById(elementId);
            if (!hasClassCustom(updateDivElement, "collapsed")) {
                updateDivElement.className += " " + "collapsed";
            }
        }
    }
    if ('/engines/cluster/' === window_location_pathname) {
        document.getElementById('content').style.display = "none";
    }
    var actionSubmitFun = function () { };
    var actionSubmitByIdFun = function () { };
    var changelist_footer_div = "";
    var result_list_select_array = "";
    window.onload = function () {
        if (space_home_url + "/" === window_location_pathname) {
            if (!hasClassCustom(document.getElementsByTagName("body")[0], "menu-pinned")) {
                document.getElementById('branding-pin').click();
            }
        }
        // 多选平铺
        //查询到因select2隐藏的select
        var select_elements_array = document.getElementsByClassName("select2-hidden-accessible");
        //判断select是否有下拉项
        if (select_elements_array && select_elements_array.length > 0) {
            // 需要修改的数组
            var select_element_update_array = [];
            // 循环处理select(筛选需要修改的)
            for (var j = 0; j < select_elements_array.length; j++) {
                if (select_elements_array[j] && "" === select_elements_array[j].getAttribute('multiple')) {
                    var update_select_obj = {}
                    // 需要修改的select
                    update_select_obj.select = select_elements_array[j];
                    // 需要修改select的父元素
                    update_select_obj.parent = select_elements_array[j].parentElement;
                    // 需要修改select父元素
                    update_select_obj.parent_last_child = select_elements_array[j].parentElement.lastElementChild;
                    // push进需修改的数组
                    select_element_update_array.push(update_select_obj);
                }
            }
            // 循环处理需要修改的数组
            for (var j = 0; j < select_element_update_array.length; j++) {
                // 数组中第一个元素
                var select_element_obj_j = select_element_update_array[j];
                // 取select的name
                var select_elements_j_name = select_element_obj_j.select.getAttribute("name");
                // 取select的option
                var select_elements_j_opt = select_element_obj_j.select.getElementsByTagName('option');
                // 判断取出的select的option是否为空
                if (select_elements_j_opt && select_elements_j_opt.length > 0) {
                    // 把select转为checkbox并添加样式
                    var elements_checkbox = '<div class="RadioStyle"><div class="Block PaddingL">';
                    for (var i = 0; i < select_elements_j_opt.length; i++) {
                        elements_checkbox += ('<input type="checkbox" name="' +
                            select_elements_j_name + '" id="love' +
                            j + i + '" value="' +
                            select_elements_j_opt[i].value + '" />' +
                            '<label for="love' + j + i + '">' + select_elements_j_opt[i].text + '</label>');
                    }
                    elements_checkbox += '</div></div>';
                    // 判断是否转换成功,若成功则进行替换
                    if (elements_checkbox) {
                        select_element_obj_j.parent.innerHTML = elements_checkbox + update_select_obj.parent_last_child.outerHTML
                    }
                }
            }
        }
        //操作事件
        changelist_footer_div = document.getElementsByClassName("changelist-footer")[0];
        if (changelist_footer_div) {
            // 查询select
            result_list_select_array = changelist_footer_div.getElementsByTagName('select');
            // 判断查询到的select
            if (result_list_select_array && result_list_select_array.length > 0) {
                actionSubmitFun = function actionSubmit(btnElement) {
                    console.log('执行操作');
                    if (btnElement) {
                        // 找到所点击btn的所在行
                        var current_tr = btnElement.parentNode.parentNode;
                        // 判空
                        if (current_tr) {
                            // 找到tr所在table
                            var current_table = current_tr.parentNode;
                            // 获取table的所有input
                            var current_table_input = current_table.getElementsByTagName('input');
                            // 循环处理（把所有的checkbox取消选中）
                            if (current_table_input && current_table_input.length > 0) {
                                for (var i = 0; i < current_table_input.length; i++) {
                                    if (current_table_input[i].type == "checkbox") {
                                        current_table_input[i].checked = false;
                                    }
                                }
                                // 获取当前行的第一个td
                                var current_tr_first_td = current_tr.firstElementChild;
                                // 获取当前td的input并置为选中状态
                                var current_tr_first_td_input = current_tr_first_td.getElementsByTagName('input')[0];
                                current_tr_first_td_input.checked = true;
                                // 循环获取from并提交
                                var current_from = current_table;
                                while (true) {
                                    if (current_from.tagName === 'FORM' || current_from.tagName === 'form') {
                                        result_list_select_array[0].value
                                        current_from.getElementsByTagName("select")[0].value = btnElement.getAttribute('selectValue');
                                        current_from.submit();
                                        break;
                                    } else {
                                        current_from = current_from.parentNode;
                                        if (current_from.tagName === 'BODY' || current_from.tagName === 'body' ||
                                            current_from.tagName === 'HTML' || current_from.tagName === 'html') {
                                            console.log('not find');
                                            break;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                // 获取查询到的select的option
                var result_list_select_option = result_list_select_array[0].getElementsByTagName('option');
                // 判断option是否为空
                if (result_list_select_option && result_list_select_option.length > 1) {
                    // 获取要处理的table
                    var result_list_table = document.getElementById('result_list');
                    // 判空
                    if (result_list_table) {
                        // 获取所有行
                        var result_list_table_tr_all = result_list_table.getElementsByTagName("tr");
                        // 判空
                        if (result_list_table_tr_all && result_list_table_tr_all.length > 1) {
                            // 要追加的操作的按钮
                            var append_element_obj_array = [];
                            // 循环select的option生成按钮
                            for (var i = 1; i < result_list_select_option.length; i++) {
                                var result_list_select_option_i = result_list_select_option[i];
                                var result_list_select_option_i_text = result_list_select_option_i.text.split(" ")[0];
                                var append_element_obj = {};
                                // 创建th
                                var append_th_element = document.createElement('th');
                                append_th_element.scope = "col";
                                append_th_element.class = "sortable column-owner";
                                var append_th_element_div = document.createElement('div');
                                append_th_element_div.class = "text";
                                append_th_element_div.append(result_list_select_option_i_text);
                                append_th_element.appendChild(append_th_element_div);
                                append_element_obj.th = append_th_element;
                                // 创建td
                                var append_td_element = document.createElement('td');
                                append_td_element.class = "field-owner nowrap";
                                var append_td_element_input = document.createElement('input');
                                append_td_element_input.type = "button";
                                append_td_element_input.value = result_list_select_option_i_text;
                                append_td_element_input.title = result_list_select_option_i.text;
                                append_td_element_input.setAttribute('onclick', 'actionSubmitFun(this)');
                                append_td_element_input.setAttribute('selectValue', result_list_select_option_i.value);
                                if ("Enter" === result_list_select_option_i_text) {
                                    append_td_element_input.id = "enterBtnId";
                                }
                                append_td_element.appendChild(append_td_element_input);
                                append_element_obj.td = append_td_element;
                                // push 
                                append_element_obj_array.push(append_element_obj);
                            }
                            // 判断需添加操作按钮是否为空
                            if (append_element_obj_array.length > 0) {
                                // 循环添加按钮和title
                                for (var i = 0; i < append_element_obj_array.length; i++) {
                                    var append_element_obj_i = append_element_obj_array[i];
                                    if (append_element_obj_i.th && append_element_obj_i.td) {
                                        var flag = false;
                                        if ("enterBtnId" === append_element_obj_i.td.firstElementChild.id) {
                                            flag = true;
                                        }
                                        result_list_table_tr_all[0].appendChild(append_element_obj_i.th);
                                        for (var j = 1; j < result_list_table_tr_all.length; j++) {
                                            var append_element_obj_i_td_clone = append_element_obj_i.td.cloneNode(true);
                                            append_element_obj_i_td_clone.firstElementChild.id = ("enterBtnId" + result_list_table_tr_all[j].firstElementChild.firstElementChild.value);
                                            result_list_table_tr_all[j].appendChild(append_element_obj_i_td_clone);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                actionSubmitByIdFun = function actionSubmitById(btnElementId) {
                    actionSubmitFun(document.getElementById(btnElementId));
                };
            }
        }
        // 菜单调整
        // 查找所有的菜单组
        var sidebar_section_array = document.getElementsByClassName('sidebar-section');
        if (sidebar_section_array && sidebar_section_array.length > 1) {
            // 用于存放data菜单组
            var sidebar_section_array_i = "";
            // 循环
            for (var i = 1; i < sidebar_section_array.length; i++) {
                //隐藏菜单组
                sidebar_section_array[i].style.display = "none";
                if (i === sidebar_section_array.length - 1) {
                    sidebar_section_array_i = sidebar_section_array[i];
                }
            }
            // 判断是否添加菜单组
            if (sidebar_section_array_i) {
                var addNewMenuData = '<div class="sidebar-section">'
                    + '<div class="sidebar-title">'
                    + '<a href="/data/" class="sidebar-title-link">Data</a>'
                    + '</div>'
                    + '<div>'
                    + '<a href="' + space_home_url + '/data/dataset/" class="sidebar-link">'
                    + '<span class="sidebar-right">'
                    + '<span class="sidebar-right-arrow icon-arrow-right"></span>'
                    + '</span>'
                    + ' <span class="sidebar-link-label">Open Datasets</span>'
                    + '</a>'
                    + '</div>'
                    + '<div>'
                    + '<a href="' + space_home_url + '/data/datainstance/" class="sidebar-link">'
                    + '<span class="sidebar-right">'
                    + '<span class="sidebar-right-arrow icon-arrow-right"></span>'
                    + '</span>'
                    + '<span class="sidebar-link-label">Instances</span>'
                    + '</a>'
                    + '</div>'
                    + '<div>'
                    + '<a href="' + space_home_url + '/?Analysis" class="sidebar-link">'
                    + '<span class="sidebar-right">'
                    + '<span class="sidebar-right-arrow icon-arrow-right"></span>'
                    + '</span>'
                    + '<span class="sidebar-link-label">Data Pipeline</span>'
                    + '</a>'
                    + '</div>'
                    + '<div>'
                    + '<a href="' + space_home_url + '/?ZeppelinNotebook" class="sidebar-link">'
                    + '<span class="sidebar-right">'
                    + '<span class="sidebar-right-arrow icon-arrow-right"></span>'
                    + '</span>'
                    + '<span class="sidebar-link-label">Notebook</span>'
                    + '</a>'
                    + '</div>'
                    + '</div>';
                // 添加Admin菜单组
                var addNewMenuAdmin = '<div class="sidebar-section">'
                    + '<div class="sidebar-title">'
                    + '<a href="' + space_home_url + '/?logHome" class="sidebar-title-link">Admin</a>'
                    + '</div>'
                    + '<div>'
                    + '<a href="' + space_home_url + '/engines/stepoperation/" class="sidebar-link">'
                    + '<span class="sidebar-right">'
                    + '<span class="sidebar-right-arrow icon-arrow-right"></span>'
                    + '</span>'
                    + '<span class="sidebar-link-label">SciSpace Operations</span>'
                    + '</a>'
                    + '</div>'
                    + '<div>'
                    + '<a href="' + space_home_url + '/data/datainstanceoperation/" class="sidebar-link">'
                    + '<span class="sidebar-right">'
                    + '<span class="sidebar-right-arrow icon-arrow-right"></span>'
                    + '</span>'
                    + '<span class="sidebar-link-label">Instances Operations</span>'
                    + '</a>'
                    + '</div>'
                    + '<div>'
                    + '<a href="' + current_space_portal + '" target="_blank" class="sidebar-link">'
                    + '<span class="sidebar-right">'
                    + '<span class="sidebar-right-arrow icon-arrow-right"></span>'
                    + '</span>'
                    + '<span class="sidebar-link-label">Cluster Manage</span>'
                    + '</a>'
                    + '</div>'
                    + '</div>';
                sidebar_section_array_i.outerHTML = (sidebar_section_array_i.outerHTML + addNewMenuData + addNewMenuAdmin);
            }
            //替换Home的href
            var sidebar_section_array_first_array = sidebar_section_array[0].getElementsByTagName("a");
            if (sidebar_section_array_first_array && sidebar_section_array_first_array.length > 0) {
                for (var i = 0; i < sidebar_section_array_first_array.length; i++) {
                    if ("/" === sidebar_section_array_first_array[i].getAttribute("href")) {
                        sidebar_section_array_first_array[i].setAttribute("href", space_home_url + "/");
                        break;
                    }
                }
            }
        }
        if (space_home_url + "/" === window_location_pathname) {
            if ("?Analysis" === window.location.search || "?Analysis#" === window.location.search) {
                var rightContent = document.getElementById("content");
                rightContent.innerHTML = '<iframe style="width: 100%; height: -webkit-fill-available;border-width: 0px;" src="http://10.0.86.131:6001/piflow-web/"></iframe>';
            } else if ("?ZeppelinNotebook" === window.location.search || "?ZeppelinNotebook#" === window.location.search) {
                var rightContent = document.getElementById("content");
                rightContent.innerHTML = '<iframe style="width: 100%; height: -webkit-fill-available;border-width: 0px;" src="http://10.0.88.78:9995"></iframe>';
            } else if ("?QueryHue" === window.location.search || "?QueryHue#" === window.location.search) {
                var rightContent = document.getElementById("content");
                rightContent.innerHTML = '<iframe style="width: 100%; height: -webkit-fill-available;border-width: 0px;" src="http://10.0.86.131:8000/notebook/editor?type=hive"></iframe>';
            } else if ("?logHome" === window.location.search || "?logHome#" === window.location.search) {
                var cf_children = document.getElementsByClassName("dashboard-container cf")[0].children;
                if (cf_children && cf_children.length > 0) {
                    for (var i = 0; i < cf_children.length; i++) {
                        var cf_children_dashboard_item_header_title = cf_children[i].getElementsByClassName("dashboard-item-header-title")[0];
                        if (cf_children_dashboard_item_header_title && "Applications" === cf_children_dashboard_item_header_title.textContent.trim()) {
                            cf_children[i].getElementsByClassName("dashboard-item-header-title")[0].textContent = "Application models";
                            cf_children[i].getElementsByClassName("dashboard-item-header-buttons")[0].style.display = "none";
                            var cf_children_i_ul = cf_children[i].getElementsByTagName("ul")[0];
                            cf_children_i_ul.style.display = "none";
                            var cf_children_i_ul_new = "<ul>"
                                + '<li class="contrast"><a href="' + space_home_url + '/?logHome" title="Models in the log application">Admin</a></li>'
                                + '<li><a href="' + space_home_url + '/engines/stepoperation/">SciSpace Operations</a></li>'
                                + '<li><a href="' + space_home_url + '/data/datainstanceoperation/">Instances Operations</a></li>'
                                + '<li><a href="' + current_space_portal + '" target="_blank">Cluster Manage</a></li>'
                                + "</ul>";
                            cf_children_i_ul.outerHTML = (cf_children_i_ul.outerHTML + cf_children_i_ul_new);
                        } else {
                            cf_children[i].style.display = "none";
                        }
                    }
                }
            } else {
                var element_first_div = document.getElementsByClassName('dashboard-column first ui-droppable ui-sortable')[0];
                if (element_first_div) {
                    var element_first_div_inner_html = element_first_div.innerHTML;
                    var state_div = '<div id="updateDivElementId" class="dashboard-item collapsible deletable draggable" data-module-id="26">'
                        + '<div class="dashboard-item-header ui-sortable-handle">'
                        + '<span class="dashboard-item-header-drag icon-grid"></span>'
                        + '<span class="dashboard-item-header-title">'
                        + '<a href="javascript:openStyle(\'updateDivElementId\');" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-down"></span></a>'
                        + '<a href="javascript:closedStyle(\'updateDivElementId\');" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-up"></span></a>'
                        + 'State'
                        + '</span>'
                        + '<div class="cf"></div>'
                        + '</div>'
                        + '<div class="dashboard-item-content">'
                        + '<ul>'
                        + '<li class="contrast"><a href="#" title="Models in the data applica tion">state</a></li>'
                        + '<li><a>gStore三元组：<button ty pe="button" class="stateBtnStyle">5,098,650</button></a></li>'
                        + '<li><a>EventDB事例：<button ty pe="button" class="stateBtnStyle">1,536,156,943</button></a></li>'
                        + '<li><a>Aserv行数：<button type ="button" class="stateBtnStyle">1,410,192,278</button></a></li>'
                        + '<li><a>节点数：<button type="bu tton" class="stateBtnStyle">4</button></a></li>'
                        + '<li><a>CPU：<button type="bu tton" class="stateBtnStyle">36</button></a></li>'
                        + '<li><a>内存：<button type="but ton" class="stateBtnStyle">54 GB</button></a></li>'
                        + '<li><a>本地磁盘：<button type="button" class="stateBtnStyle">570 GB</button></a></li>'
                        + '<li><a>Spark：<button type="button" class="stateBtnStyle">正常</button></a></li>'
                        + '<li><a>Hadoop：<button type="button" class="stateBtnStyle">正常</button></a></li>'
                        + '<li><a>Impala：<button type="button" class="stateBtnStyle">正常</button></a></li>'
                        + '<li><a>gStore：<button type="button" class="stateBtnStyle">正常</button></a></li>'
                        + '<li><a>Hive：<button type="button" class="stateBtnStyle">正常</button></a></li>'
                        + '</ul>'
                        + '</div>'
                        + '</div>';
                    element_first_div.innerHTML = state_div + element_first_div_inner_html;
                }
                var cf_children = document.getElementsByClassName("dashboard-container cf")[0].children;
                if (cf_children && cf_children.length > 0) {
                    for (var i = 0; i < cf_children.length; i++) {
                        var titleElemet = cf_children[i].getElementsByClassName("dashboard-item-header-title")[0];
                        if (titleElemet) {
                            if ("Applications" === titleElemet.textContent.trim()) {
                                cf_children[i].getElementsByClassName("dashboard-item-header-buttons")[0].style.display = "none";
                                var cf_children_i_ul = cf_children[i].getElementsByTagName("ul")[0];
                                cf_children_i_ul.style.display = "none";
                                var cf_children_i_ul_new = "<ul>"
                                    + '<li class="contrast"><a href="' + space_home_url + '/data/" title="Models in the data application">data</a>Data</a></li>'
                                    + '<li><a href="' + space_home_url + '/data/dataset/">Open Datasets</a></li>'
                                    + '<li><a href="' + space_home_url + '/data/datainstance/">Instances</a></li>'
                                    + '<li><a href="' + space_home_url + '/?Analysis">Data Pipeline</a></li>'
                                    + '<li><a href="' + space_home_url + '/?ZeppelinNotebook">Notebook</a></li>'
                                    + '<li class="contrast"><a href="' + space_home_url + '/?logHome" title="Models in the log application">Admin</a></li>'
                                    + '<li><a href="' + space_home_url + '/engines/stepoperation/">SciSpace Operations</a></li>'
                                    + '<li><a href="' + space_home_url + '/data/datainstanceoperation/">Instances Operations</a></li>'
                                    + '<li><a href="' + current_space_portal + '" target="_blank">Cluster Manage</a></li>'
                                    + "</ul>";
                                cf_children_i_ul.outerHTML = (cf_children_i_ul.outerHTML + cf_children_i_ul_new);
                            }
                        }
                    }
                }
            }
        }
        var breadcrumbs_initialized_a_array = document.getElementsByClassName('breadcrumbs initialized')[0].getElementsByTagName('a');
        if (breadcrumbs_initialized_a_array && breadcrumbs_initialized_a_array.length > 0) {
            for (var i = 0; i < breadcrumbs_initialized_a_array.length; i++) {
                var breadcrumbs_initialized_a_array_i_href = breadcrumbs_initialized_a_array[i].getAttribute("href");
                if (breadcrumbs_initialized_a_array_i_href) {
                    breadcrumbs_initialized_a_array[i].setAttribute("href", space_home_url + breadcrumbs_initialized_a_array_i_href);
                }
            }
        }
        if (space_home_url + "/data/" === window_location_pathname) {
            var cf_children = document.getElementsByClassName("dashboard-container cf")[0].children;
            if (cf_children && cf_children.length > 0) {
                for (var i = 0; i < cf_children.length; i++) {
                    var cf_children_dashboard_item_header_title = cf_children[i].getElementsByClassName("dashboard-item-header-title")[0];
                    if (cf_children_dashboard_item_header_title && "Application models" === cf_children_dashboard_item_header_title.textContent.trim()) {
                        cf_children[i].getElementsByClassName("dashboard-item-header-buttons")[0].style.display = "none";
                        var cf_children_i_ul = cf_children[i].getElementsByTagName("ul")[0];
                        cf_children_i_ul.style.display = "none";
                        var cf_children_i_ul_new = "<ul>"
                            + '<li><a href="' + space_home_url + '/data/dataset/">Open Datasets</a></li>'
                            + '<li><a href="' + space_home_url + '/data/datainstance/">Instances</a></li>'
                            + '<li><a href="' + space_home_url + '/?Analysis">Data Pipeline</a></li>'
                            + '<li><a href="' + space_home_url + '/?ZeppelinNotebook">Notebook</a></li>'
                            + "</ul>";
                        cf_children_i_ul.outerHTML = (cf_children_i_ul.outerHTML + cf_children_i_ul_new);
                    } else {
                        cf_children[i].style.display = "none";
                    }
                }
            }
        }
        if (space_home_url + "/data/dataset/" === window_location_pathname) {
            var result_list_table = document.getElementById('result_list');
            var result_list_table_array = result_list_table.getElementsByClassName("button");
            if (result_list_table_array && result_list_table_array.length > 0) {
                for (var i = 0; i < result_list_table_array.length; i++) {
                    if ("Load" === result_list_table_array[i].text) {
                        var result_list_table_array_i_href = result_list_table_array[i].getAttribute("href");
                        if (result_list_table_array_i_href) {
                            result_list_table_array[i].setAttribute("href", space_home_url + result_list_table_array_i_href);
                        }
                    }
                }
            }
        }
        if (space_home_url + "/data/datainstance/" === window_location_pathname) {
            var result_list_table = document.getElementById('result_list');
            var result_list_table_array = result_list_table.getElementsByClassName("button");
            var hide_result_list_table_array = [];
            if (result_list_table_array && result_list_table_array.length > 0) {
                for (var i = 0; i < result_list_table_array.length; i++) {
                    if ("Query" === result_list_table_array[i].text) {
                        hide_result_list_table_array.push(result_list_table_array[i]);
                    }
                }
            }
            if (hide_result_list_table_array && hide_result_list_table_array.length > 0) {
                var query_a = '<a href="' + space_home_url + '/?QueryHue" class="button">Query</a>';
                for (var i = 0; i < hide_result_list_table_array.length; i++) {
                    hide_result_list_table_array[i].style.display = "none";
                    hide_result_list_table_array[i].outerHTML = (hide_result_list_table_array[i].outerHTML + query_a);
                }
            }
        }
        // cluster table 转卡片显示
        if ('/engines/cluster/' === window_location_pathname) {
            // 关闭菜单
            if (hasClassCustom(document.getElementsByTagName("body")[0], "menu-pinned")) {
                document.getElementById('branding-pin').click();
            }
            // 隐藏无用导航
            hideElementArray(document.getElementsByClassName('breadcrumbs initialized')[0].getElementsByTagName('a'));
            hideElementArray(document.getElementsByClassName('breadcrumbs initialized')[0].getElementsByTagName('span'));
            document.getElementById('container').firstElementChild.style.display = "none";

            var contentElement = document.getElementById('content');
            var contentElementNew = '<div id="contentNew" class="flex">'
                + '<p style="text-align: center;font-size: 26px;">Scispace List</p>'
                + '<p style="text-align: right;">'
                + '<a href="/engines/cluster/add/" class="addlink button aHrefHover">Add cluster</a>'
                + '</p>'
                + '<div class="dashboard-container columns_4 cf">';
            var result_list_cluster = document.getElementById('result_list');
            if (result_list_cluster) {
                var result_list_cluster_tr = result_list_cluster.getElementsByTagName('tr');
                if (result_list_cluster_tr && result_list_cluster_tr.length > 1) {
                    for (var i = 1; i < result_list_cluster_tr.length; i++) {
                        contentElementNew += ('<div class="dashboard-column-wrapper">'
                            + '<div class="dashboard-column ui-droppable ui-sortable">'
                            + '<div id="addDivElement' + i + '" class="dashboard-item collapsible deletable draggable">'
                            + '<div class="dashboard-item-header ui-sortable-handle">'
                            + '<span class="dashboard-item-header-title">'
                            + '<a href="javascript:openStyle(\'addDivElement' + i + '\');" class="dashboard-item-collapse">'
                            + '<span class="dashboard-item-header-collapse-button icon-arrow-down"></span>'
                            + '</a>'
                            + '<a href="javascript:closedStyle(\'addDivElement' + i + '\');" class="dashboard-item-collapse">'
                            + '<span class="dashboard-item-header-collapse-button icon-arrow-up"></span>'
                            + result_list_cluster_tr[i].getElementsByTagName('th')[0].getElementsByTagName('a')[0].innerText
                            + '</a>'
                            + '</span>'
                            + '<div class="cf"></div>'
                            + '</div>'
                            + '<div class="dashboard-item-content">'
                            + '<table>'
                            + '<tbody>');
                        var result_list_cluster_tr_td_all = result_list_cluster_tr[i].getElementsByTagName('td');
                        if (result_list_cluster_tr_td_all && result_list_cluster_tr_td_all.length > 6) {
                            var clusterSpace = result_list_cluster_tr_td_all[0].getElementsByTagName("input")[0].value;
                            contentElementNew += ('<tr>'
                                + '<td style="width: 31%;">Scale</td>'
                                + '<td style="width: 69%;">：&nbsp;&nbsp;' + result_list_cluster_tr_td_all[1].innerHTML + '</td>'
                                + '</tr>'
                                + '<tr>'
                                + '<td style="width: 31%;">Remark</td>'
                                + '<td style="width: 69%;">：&nbsp;&nbsp;' + result_list_cluster_tr_td_all[2].innerHTML + '</td>'
                                + '</tr>'
                                + '<tr>'
                                + '<td style="width: 31%;">Public</td>'
                                + '<td style="width: 69%;">：&nbsp;&nbsp;' + result_list_cluster_tr_td_all[3].innerHTML + '</td>'
                                + '</tr>'
                                + '<tr>'
                                + '<td style="width: 31%;">Created Time</td>'
                                + '<td style="width: 69%;">：&nbsp;&nbsp;' + result_list_cluster_tr_td_all[4].innerHTML + '</td>'
                                + '</tr>'
                                + '<td style="width: 31%;">Built Time</td>'
                                + '<td style="width: 69%;">：&nbsp;&nbsp;' + result_list_cluster_tr_td_all[5].innerHTML + '</td>'
                                + '</tr>'
                                + '<td style="width: 31%;">Status</td>'
                                + '<td style="width: 69%;">：&nbsp;&nbsp;' + result_list_cluster_tr_td_all[6].innerHTML + '</td>'
                                + '</tr>'
                                + '</tr>'
                                + '<td colspan="2">'
                                // + '<a class="button aHrefHover" title="Enter Space" name="index" href="#" onclick="actionSubmitByIdFun(\'enterBtnId' + result_list_cluster_tr_td_all[0].firstElementChild.value + '\')" >Enter</a></td>' 
                                + '<a class="button aHrefHover" title="Enter Space" name="index" href="/space/' + clusterSpace + '/" >Enter</a></td>'
                                + '</tr>');
                        }
                        contentElementNew += ('</tbody>'
                            + '</table>'
                            + '</div>'
                            + '</div>'
                            + '</div>'
                            + '</div>');
                    }
                }
            }
            contentElementNew += '</div></div>';
            contentElement.outerHTML = contentElementNew + contentElement.outerHTML;
        }
        // modify cluster add page
        if ('/engines/cluster/add/' === window_location_pathname) {
            // close menu
            if (hasClassCustom(document.getElementsByTagName("body")[0], "menu-pinned")) {
                document.getElementById('branding-pin').click();
            }
            // hide useless navigation
            document.getElementById('container').firstElementChild.style.display = "none";
            var crumbs = document.getElementsByClassName('breadcrumbs initialized')[0].children;
            if (crumbs && crumbs.length > 3) {
                crumbs[0].style.display = "none";
                crumbs[1].style.display = "none";
                crumbs[2].style.display = "none";
                crumbs[3].style.display = "none";
            }
            // modify and hide button
            document.getElementsByClassName("submit-row")[0].firstElementChild.value = "Add";
            var submit_row_inputs = document.getElementsByClassName("submit-row")[0].getElementsByTagName("input");
            if (submit_row_inputs && submit_row_inputs.length > 0) {
                for (var i = 1; i < submit_row_inputs.length; i++) {
                    submit_row_inputs[i].style.display = "none";
                }
            }
        }
        // modify load datasets page
        if (space_home_url + "/data/datainstance/add/" === window_location_pathname) {
            // modify and hide button
            document.getElementsByClassName("submit-row")[0].firstElementChild.value = "Load";
            var submit_row_inputs = document.getElementsByClassName("submit-row")[0].getElementsByTagName("input");
            if (submit_row_inputs && submit_row_inputs.length > 0) {
                for (var i = 1; i < submit_row_inputs.length; i++) {
                    submit_row_inputs[i].style.display = "none";
                }
            }
        }
    }
</script>
{% endblock %}